body {
  background-color: tan ;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


h1 {
  color: orangered;
  background-color: goldenrod;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}
h2 {
  color: orangered;
  background-color: goldenrod;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

p {
  color: orangered;
  padding: 10px;
padding-right: 25%;
background-color: palegoldenrod;
vertical-align: middle;
text-align: center;
padding-left: 25%;
border-radius: 30px;
}

li {
padding:15px
}

#Endpage {
  padding:300px;
}

footer {
  background-color: turquoise;
  color: blue;
}

h3 {
  background-color: peru;
  float: right;
}

#list {
  margin: 30px;
}

ol {
  background-color: peru;
  float: right;
  padding-right: 10px;
}

div {
  padding: 15px;
}

button {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}