body {
  background-color: #e6dbd3 ;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


h1 {
  color: white;
  background-color: #412f24;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  border-radius: 25px;
}
h2 {
  color: white;
  background-color: #412f24;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  border-radius: 25px;

}

p {
  color: black;
  padding: 10px;
padding-right: 25%;
background-color: pale#412f24;
vertical-align: middle;
text-align: center;
padding-left: 25%;
border-radius: 30px;
border-radius: 25px;

}

li {
padding:15px
}

#Endpage {
  padding:300px;
}

footer {
  background-color: turquoise;
  color: blue;
}

h3 {
  background-color: #614737;
  float: right;
  border-radius: 15px;

}

#list {
  margin: 30px;
}

ol {
  background-color: #614737;
  float: right;
  padding-right: 10px;
  border-radius: 25px;

}

div {
  padding: 15px;
}

